In [14]:
import pandas as pd
import numpy as np
import heapq

In [13]:
main_df = pd.read_csv("census_data.csv")
main_df['Fee'] = pd.to_numeric(main_df['CensusYear'])
main_df = main_df.drop(["Statistic Label","Sex","UNIT","Fee"],axis=1)
main_df = main_df.loc[main_df["County"]!= "State"]
main_df = main_df.loc[main_df["CensusYear"]>= 2002]
main_df

      CensusYear    County    VALUE
1704        2002    Carlow    46014
1705        2002    Carlow    23403
1706        2002    Carlow    22611
1707        2002    Dublin  1122821
1708        2002    Dublin   544075
...          ...       ...      ...
2101        2022   Donegal    82795
2102        2022   Donegal    84289
2103        2022  Monaghan    65288
2104        2022  Monaghan    32894
2105        2022  Monaghan    32394

[390 rows x 3 columns]

In [18]:
unique_years = main_df["CensusYear"].unique().tolist() #obtaining census years

[2002, 2006, 2011, 2016, 2022]

In [ ]:
gardai_divisions = ['Cavan-Monaghan Garda Division',
 'Clare Garda Division',
 'Cork City Garda Division',
 'Cork North Garda Division',
 'Cork West Garda Division',
 'D.M.R. Eastern Garda Division',
 'D.M.R. North Central Garda Division',
 'D.M.R. Northern Garda Division',
 'D.M.R. South Central Garda Division',
 'D.M.R. Southern Garda Division',
 'D.M.R. Western Garda Division',
 'Donegal Garda Division',
 'Galway Garda Division',
 'Kerry Garda Division',
 'Kildare Garda Division',
 'Kilkenny-Carlow Garda Division',
 'Laois-Offaly Garda Division',
 'Limerick Garda Division',
 'Louth Garda Division',
 'Mayo Garda Division',
 'Meath Garda Division',
 'Roscommon-Longford Garda Division',
 'Sligo-Leitrim Garda Division',
 'Tipperary Garda Division',
 'Waterford Garda Division',
 'Westmeath Garda Division',
 'Wexford Garda Division',
 'Wicklow Garda Division']

In [19]:

def closest(lst, K):
    #using heapq.nsmallest() to find the closest census in our list for a given year 
    return heapq.nsmallest(1, lst, key=lambda x: abs(x-K))[0]

In [24]:
#We need to find the closest available population for each of districts per our census for a given year

2022